<style>
	.not-matched {
		background-color: lightpink;
	}
</style>
<div class="form-class" style="width: 30%;">
	<form class="form-signin" ng-submit="$ctrl.register()">
		<div ng-show="$ctrl.error" class="alert alert-danger">
			{{ $ctrl.message }}
		</div>
		<div ng-show="$ctrl.success" class="alert alert-success">
			{{ $ctrl.message }}
		</div>
		<b><h1 style="font-weight: bold">Share Infinity</h1></b>
		<h3 class="h3 mb-3 font-weight-normal">Please sign up</h3>
		<input
			type="text"
			id="username"
			class="form-control"
			placeholder="UserId"
			required
			autofocus
			ng-model="$ctrl.userId"
		/>

		<input
			type="email"
			id="email"
			class="form-control"
			placeholder="Email Id"
			required
			ng-model="$ctrl.emailId"
		/>

		<input
			type="password"
			id="password"
			class="form-control"
			placeholder="Password"
			required
			ng-model="$ctrl.password"
		/>

		<input
			type="password"
			id="re-password"
			class="form-control"
			placeholder="Re-enter Password"
			required
			ng-model="$ctrl.repassword"
			ng-class="{'not-matched':$ctrl.password != $ctrl.repassword}"
		/>

		<button
			class="btn btn-lg btn-primary btn-block"
			type="submit"
			ng-disabled="$ctrl.password != $ctrl.repassword"
		>
			Sign up
		</button>
	</form>
</div>
