<div class="alert alert-warning alert-dismissible" ng-hide="$ctrl.status">
	<button
		type="button"
		class="close"
		data-dismiss="alert"
		ng-click="$ctrl.status = true"
	>
		&times;
	</button>
	<strong>Alert! </strong>Please make the payment to download your results
</div>
<div class="card card-outline-dark">
	<div class="card-header bg-dark text-white">
		<h3 class="mb-0">Submitted tasks</h3>
	</div>
	<div ng-show="$ctrl.tasks.length == 0">
		<br />
		<h3 style="text-align: center;">Nothing to see here !</h3>
		<br />
	</div>
	<div class="card-body" ng-hide="$ctrl.tasks.length == 0">
		<div ng-repeat="item in $ctrl.tasks">
			<div
				class="card"
				ng-attr-id="{{item.transactionId}}"
				ng-class="{'border-success': item.status == 'completed', 'border-primary': item.status == 'running','border-danger': item.status == 'failed','border-secondary':item.status == 'submitted'}"
			>
				<div flex-gt-sm="50"></div>
				<h5
					class="card-header text-white"
					ng-class="{'bg-success': item.status == 'completed', 'bg-primary': item.status == 'running','bg-danger': item.status == 'failed', 'bg-secondary':item.status == 'submitted'}"
				>
					Transaction ID : {{ item.transactionId }}
				</h5>

				<div class="card-body">
					<h5 class="card-title">Provider ID : {{item.userId}}</h5>
					<h5 class="card-title">Status : {{item.status}}</h5>
				</div>

				<div
					ng-show="item.status == 'completed' && item.isPaymentDone == true"
				>
					<div ng-show="$ctrl.downloading[$index] ">
						<md-progress-linear
							style="color: blue; background-color: blue;"
							md-mode="indeterminate"
						></md-progress-linear>
						<br />
					</div>
					<form
						ng-submit="$ctrl.getResults(item.transactionId,$index)"
					>
						<input
							type="submit"
							class="btn btn-primary"
							value="Download Results"
							style="position: relative; left: 10px;"
						/>
					</form>

					<div class="card-body" ng-show="item.isRated == false">
						<hr />
						<h5 class="card-title">
							Rate your provider for this transaction:
						</h5>
						<jk-rating-stars
							rating="$ctrl.rating[$index]"
						></jk-rating-stars>
						<br />
						<button
							class="btn btn-primary"
							style="position: relative; left: -10px;"
							ng-click="$ctrl.submitRating(item.transactionId,$index)"
						>
							Submit
						</button>
						<hr />
					</div>
				</div>

				<div
					ng-show="item.status == 'completed' && item.isPaymentDone == false"
				>
					<div class="card-body">
						<h5 class="card-title">
							Task duration (hh:mm:ss) : {{item.duration}}
						</h5>
						<h5 class="card-title">
							Amount to be paid : {{item.cost}} credits
						</h5>

						<button
							class="btn btn-primary"
							style="position: relative; left: -7px;"
							ng-click="$ctrl.makePayment(item.transactionId,item.cost)"
						>
							Make Payment
						</button>
					</div>
				</div>
			</div>
			<br />
		</div>
	</div>
</div>
