<div class="alert alert-warning alert-dismissible" ng-hide="$ctrl.status">
	<button
		type="button"
		class="close"
		data-dismiss="alert"
		ng-click="$ctrl.status = true"
	>
		&times;
	</button>
	<strong>Alert!</strong>

	<br />
	<strong>Currently only Linux / MacOS is supported</strong><br />1. Please
	make sure the data you submit is non-sensitive

	<br />
	2. In case of python projects (ML/DL) dependencies are added automatically

	<br />3. In case of other tasks please make sure to include commands to
	install other dependencies if any

	<br />4. Create a directory called <strong>results </strong> in your project
	folder and redirect / ouptut all your requirements into that folder
</div>
<div class="card card-outline-dark">
	<div class="card-header bg-dark text-white">
		<h3 class="mb-0">Select hosts and submit task files</h3>
	</div>
	<div class="card-body">
		<div ng-repeat="item in $ctrl.providers">
			<div
				class="card"
				ng-attr-id="{{item.providerId}}"
				ng-hide="$ctrl.submittedProviders.indexOf(item.providerId)>-1 || $ctrl.userId == item.providerId"
			>
				<div flex-gt-sm="50"></div>
				<h5 class="card-header">
					<md-checkbox
						ng-checked="$ctrl.selection.indexOf(item.providerId)>-1"
						ng-click="$ctrl.toggleSelection(item.providerId)"
						aria-label="Checkbox 1"
					>
					</md-checkbox>
					Provider ID : {{ item.providerId }} (<span
						class="fa fa-star checked"
						style="color: orange;"
					></span>
					{{item.rating}} )
				</h5>

				<div class="card-body">
					<h5 class="card-title">RAM : {{item.ram}} GB</h5>
					<h5 class="card-title">CPU cores : {{item.cpu}}</h5>
					<h5 class="card-title">Storage : {{item.storage}} GB</h5>
					<h5 class="card-title">
						Cost : {{item.charge}} credits/sec
					</h5>

					<form
						ng-show="$ctrl.selection.indexOf(item.providerId)>-1"
						ng-submit="$ctrl.submitTask(item.providerId)"
					>
						<label>Folder path</label>
						<input
							type="text"
							placeholder="Copy & paste the task folder here ..."
							class="form-control"
							name="filepath"
							ng-attr-id="{{'filepath_'+ item.providerId}}"
							required
						/>
						<br />
						<label>Commands</label>
						<div class="form-group">
							<textarea
								class="form-control"
								id="txtarea"
								rows="3"
								placeholder="Enter any commands that must be run .."
								ng-attr-id="{{'commands_'+ item.providerId}}"
								required
							></textarea>
						</div>
						<br />
						<input
							type="submit"
							class="btn btn-primary"
							value="Submit"
						/>
					</form>
				</div>
			</div>
			<br />
		</div>
	</div>
</div>
